:root {
    --primary-color: #ff8000;
    --primary-color-highlight: #aa6000;
}

html[data-theme="dark"] {
    --primary-background-color: #121212;
    --secondary-background-color: #343434;
    --primary-text-color: #ababab;
    --secondary-text-color: #dedede;
}

html[data-theme="light"] {
    --primary-background-color: #ababab;
    --secondary-background-color: #dedede;
    --primary-text-color: #121212;
    --secondary-text-color: #343434;
}

* {
    box-sizing: border-box !important;
}

.hidden {
    display: none !important;
}

.DeathKnight {
    color: #c41e3a;
}

.DemonHunter {
    color: #a330c9;
}

.Druid {
    color: #ff7c0a;
}

.Evoker {
    color: #33937f;
}

.Hunter {
    color: #aad372;
}

.Mage {
    color: #3fc7eb;
}

.Monk {
    color: #00ff98;
}

.Paladin {
    color: #f48cba;
}

.Priest {
    color: #ffffff;
}

.Rogue {
    color: #fff468;
}

.Shaman {
    color: #0070dd;
}

.Warlock {
    color: #8788ee;
}

.Warrior {
    color: #c69b6d;
}

img {
    width: 100%;
    height: auto;
}

body {
    background-color: var(--primary-background-color);
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

a {
    color: var(--primary-color);
}

a:hover {
    color: var(--primary-color-highlight);
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#app {
    font-family: Cinzel;
}