:root {
    --primary-color: #ff8000;
    --primary-color-highlight: #aa6000;
}
html[data-theme="dark"] {
    --primary-background-color: #121212;
    --secondary-background-color: #343434;
    --primary-text-color: #ababab;
    --secondary-text-color: #dedede;
}
html[data-theme="light"] {
    --primary-background-color: #ababab;
    --secondary-background-color: #dedede;
    --primary-text-color: #121212;
    --secondary-text-color: #343434;
}
* {
    box-sizing: border-box !important;
}
.hidden {
    display: none !important;
}
.DeathKnight {
    color: #c41e3a;
}
.DemonHunter {
    color: #a330c9;
}
.Druid {
    color: #ff7c0a;
}
.Evoker {
    color: #33937f;
}
.Hunter {
    color: #aad372;
}
.Mage {
    color: #3fc7eb;
}
.Monk {
    color: #00ff98;
}
.Paladin {
    color: #f48cba;
}
.Priest {
    color: #ffffff;
}
.Rogue {
    color: #fff468;
}
.Shaman {
    color: #0070dd;
}
.Warlock {
    color: #8788ee;
}
.Warrior {
    color: #c69b6d;
}
img {
    width: 100%;
    height: auto;
}
body {
    background-color: var(--primary-background-color);
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
a {
    color: var(--primary-color);
}
a:hover {
    color: var(--primary-color-highlight);
}
.switchContainer {
    position: fixed;
    top: 10px;
    right: 10px;
}
.switchContainer input[type="checkbox"] {
    display: none !important;
}
.switchContainer .switch {
    display: block;
    width: 50px;
    height: 20px;
    border-radius: 50px;
    background-color: var(--primary-text-color);
    cursor: pointer;
    transition: 0.3s;
}
.switchContainer .switch::before {
    content: "";
    position: absolute;
    left: 2.5%;
    top: 5%;
    width: 40%;
    height: 90%;
    border-radius: 50px;
    transition: 0.3s;
    background-color: var(--primary-background-color);
}
.switchContainer input[type="checkbox"]:checked + .switch::before {
    left: 57.5%;
}
#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 75px;
    width: 100%;
    color: white;
    font-family: Cinzel;
}
#app > h1 {
    font-size: 4rem;
    user-select: none;
    color: var(--primary-text-color);
}
#search-container {
    height: 45px;
    display: flex;
    position: relative;
}
#search-container select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: "";
    display: none;
}
#search-container #fake-select {
    border-radius: 0;
    border: none;
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: var(--secondary-background-color);
    color: var(--secondary-text-color);
    font-weight: 600;
    cursor: pointer;
    font-size: 1rem;
    position: relative;
}
#search-container #fake-select__dropdown {
    position: absolute;
    flex-direction: column;
    background-color: var(--secondary-background-color);
    height: min(100vh, 400px);
    top: 100%;
    left: 0;
    overflow-y: scroll;
    width: 100%;
}
#search-container #fake-select__dropdown div {
    padding: 5px 20px;
    transition: 0.3s;
}
#search-container #fake-select__dropdown div:hover {
    background-color: #bbbbbb;
}
#search-container input {
    border: none;
    min-width: 300px;
    padding-right: 40px;
    padding-left: 20px;
    font-family: inherit;
    font-weight: 500;
    font-size: 1.25rem;
}
#search-container input:focus-visible {
    outline: none;
}
#search-container button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    background: transparent;
    border: none;
    width: 40px;
    transition: 0.3s;
}
#search-container button:hover {
    background-color: var(--secondary-background-color);
}
#searchForm .loading {
    display: flex;
    justify-content: center;
    width: 100%;
}
#search-container__errors {
    position: absolute;
    width: 100%;
    min-height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 100, 100);
    color: black;
    top: 100%;
}
#search-container__errors.active {
    display: flex;
}
#results {
    margin-top: 4rem;
    display: flex;
    background-color: var(--secondary-background-color);
    color: var(--secondary-text-color);
    padding: 2em;
}
#results #headshot {
    max-width: 125px;
    margin-right: 20px;
}
#results #info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 500;
}
#results #info > div {
    display: flex;
    gap: 10px;
}
#results a {
    text-decoration: none;
    transition: 0.3s;
    font-size: 14px;
    font-weight: 700;
}
